.container_main_gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container_main_list{
    display: flex;
    flex-direction: column;
    width: 95%;
    justify-content: center;
    margin: 20px 0;
    padding: 0;
}