.search_item{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    background-color: #444;
}

.item_img{
    width: 250px;
    height: 250px;
}

.item_name{
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-top: 5px;
}