.episode_card{
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    margin-left: 30px;
    font-size: 20px;
    color: white;
    border-bottom: 1px solid white;
    padding: 5px;
}