.upperbar_header {
	background-color: slateblue;
	padding: 10px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	align-items: center;
	font-size: 16px;
	color: white;
}

.upperbar_title{
	display: flex;
	justify-content: center;
}

.upperbar_filters {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.upperbar_filter_item {
	margin: 3px;
	cursor: pointer;
	font-weight: 600;
	color: #cccccc;
	text-decoration: none;
}

.active {
	color: white ;
}

.upperbar_filter_item:hover{
	color: white;
	transition: 0.4s;
}
.upperbar_input_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2px 10px;
	background-color: #e6e6e6;
	border-radius: 10px;
}

.upperbar_input {
	margin: 0px;
	outline: none;
	background: none;
	border: 0px;
	color: white;
	font-size: 16px;
	width: 100%;
}
.upperbar_icon {
	color: white;
	height: 25px;
	width: 25px;
	margin-left: 3px;
}
