.upperbar_header {
	background-color: slateblue;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 14px;
	color: white;
	border-bottom: 1px solid white;
}

.upperbar_title{
	display: flex;
	justify-content: center;
	color: white;
}

.upperbar_filters {
	justify-content: space-around;
	align-items: center;
	display: none;
}

.upperbar_filters_icon{
	width: 30px;
	height: 30px;
	cursor: pointer;
}



.upperbar_hidden_filters{
	background-color: slateblue;
	position:absolute;
	width: 100%;
	color: white;
	text-align: center;
	z-index: 2;
}

.upperbar_filters_icon:hover {
	display: flex;
}
.upperbar_hidden_filter_item{
	font-size: 18px;
	font-weight: 600;
	border-bottom: 1px solid white;
	cursor: pointer;
	padding: 3px;
	color: white;
	font-size: 18px;

}

.upperbar_filter_item {
	margin: 3px;
	cursor: pointer;
	font-weight: 600;
	color: #cccccc;
	font-size: 18px;
}

.active {
	color: white ;
}

.link{
	text-decoration: none;
}
.upperbar_filter_item:hover{
	color: white;
	transition: 0.4s;
}

@media screen and (min-width: 768px){
	.upperbar_title{
		font-size: 18px;
	}

	.upperbar_filters_icon{
		display: none;
	}

	.upperbar_filters{
		display: flex;
	}
	
	.upperbar_hidden_filters{
		visibility: hidden;
	}

}