.detail_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.character_data_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: start;
    text-align: center;
    color: white;
    width: 100%;
}

.character_name{
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: rgb(169, 90, 205);
}

.character_item{
    margin: 5px 0;
    font-size: 18px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.character_item strong{
    margin-right: 5px;

}

.status{
    background-color: rgb(184, 184, 184);
    width: 10px;
    height: 10px;
    align-self: center;
    border-radius: 50%;
    margin: 0 3px;
}


.button_back{
    color: white;
    font-weight: bold;
    padding: 5px;
    margin: 10px;
    display: flex;
    cursor: pointer;
    text-decoration: none;
    align-items: center;
}

.button_back > .button_back_icon{
    width: 25px;
    height: 25px;
}

.button_back > p{
    padding: 3px;
}

@media screen and (min-width:768px) {
    .detail_main{
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        padding: 50px;
    }

    .character_data_container{
        margin: 0 50px;
        width: fit-content;
    }

    .character_name{
        text-align: start;
    }

    .character_item{
        text-align: start;
        justify-content: start;
    }
}