.character_card {
	padding: 10px;
	background-color: #303030;
	margin: 10px;
	flex-wrap: wrap;
	max-width: 270px;

}

.character_img {
	width: 250px;
	height: 250px;
}

.character_name {
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	color: #66ff51;
	font-size: 24px;
}

.character_card:hover{
	opacity: 0.5;
    transform: translateY(-30px);
    transition: 0.5s;
}

.link{
	text-decoration: none;

}