.character_card {
	padding: 10px;
	background-color: #303030;
	margin: 10px;
	max-width: 270px;
}

.status{
	background-color: rgb(168, 168, 168);
	border-radius: 3px;
	width: fit-content;
	padding: 3px 6px;
	margin: 5px;
	color: white;
	font-weight: 600;
	position: absolute;

}

.character_img {
	width: 250px;
	height: 250px;
}

.character_name {
	font-family: Arial, Helvetica, sans-serif;
	color: #66ff51;
	font-size: 24px;
}

.character_card:hover{
	opacity: 0.5;
    transform: translateY(-15px);
    transition: 0.5s;
}

.link{
	text-decoration: none;
}